<div class="row mt-3">
  <div class="col">
    <span class="text-primary fw-bolder fs-4">
      <%= image_tag("icon/jan-icon.svg", class: "img-fluid", alt: "jan-icon.svg") %>
      &emsp; Gennaio
      &emsp;
      <%= image_tag("main/fvg-logo.svg", size: "32x32", class: "img-fluid", alt: "jan-icon.svg") %>
      &nbsp;
      <span class="text-primary fs-5 fw-bold">
        Friuli Venezia Giulia
      </span>
    </span>
    <span class="float-end">
      <span class="text-primary">
        Totale Iscritti Regionale:
        &emsp;&emsp;
        <i class="fa-solid fa-calendar-days"></i>
        <%= "#{Date.today.year - 1}".html_safe %>
        &nbsp;
        <i class="fa-solid fa-users"></i>
      </span>
      <span class="text-info fs-4 fw-bolder">
        <%= "#{@from_previous_year_january&.regional}".html_safe %>
      </span>
      &emsp;
      <i class="fa-solid fa-arrows-left-right text-primary"></i>
      &emsp;
      <span class="text-primary">
        <i class="fa-solid fa-calendar-days"></i>
        <%= "#{Date.today.year}".html_safe %>
        &nbsp;
        <i class="fa-solid fa-users"></i>
      </span>
      <span class="text-info fs-4 fw-bolder">
        <%= "#{@from_current_year_january&.regional}".html_safe %>
      </span>
      &nbsp;
      <%= growth_degrowth("january") %>
    </span>
    <hr class="text-primary"/>
  </div>
</div>
<%= render "home/jan/jan_territories" %>
<%= render "home/jan/jan_categories" %>
<%= render "home/jan/jan_ages" %>
<%= render "home/jan/jan_subscription_types" %>
<%= render "home/jan/jan_delegation_types" %>
