<div class="row mt-3">
  <div class="col">
    <span class="text-primary fw-bolder fs-4">
      <%= image_tag("icon/jan-icon.svg", class: "img-fluid", alt: "jan-icon.svg") %>
      &emsp; Gennaio
      &emsp;
      <%= image_tag("main/fvg-logo.svg", size: "32x32", class: "img-fluid", alt: "jan-icon.svg") %>
      &nbsp;
      <span class="text-primary fs-5 fw-bold">
        Friuli Venezia Giulia
      </span>
    </span>
    <span class="float-end">
      <span class="text-primary">
        Totale Iscritti Regionale:
        &emsp;&emsp;
        <i class="fa-solid fa-calendar-days"></i>
        <%= "#{Date.today.year - 1}".html_safe %>
        &nbsp;
        <i class="fa-solid fa-users"></i>
      </span>
      <span class="text-info fs-4 fw-bolder">
        <%= "#{@from_previous_year_january&.regional}".html_safe %>
      </span>
      &emsp;
      <i class="fa-solid fa-arrows-left-right text-primary"></i>
      &emsp;
      <span class="text-primary">
        <i class="fa-solid fa-calendar-days"></i>
        <%= "#{Date.today.year}".html_safe %>
        &nbsp;
        <i class="fa-solid fa-users"></i>
      </span>
      <span class="text-info fs-4 fw-bolder">
        <%= "#{@from_current_year_january&.regional}".html_safe %>
      </span>
      &nbsp;
      <%= growth_degrowth("january") %>
    </span>
    <hr class="text-primary"/>
  </div>
</div>
<div class="row mt-2">
  <div class="col-6">
    <p class="text-primary text-center mb-2 fs-4 fw-bold">
      Anno:&emsp;
      <%= "#{Date.today.year - 1}".html_safe %>
    </p>
    <ul class="list-group list-group-horizontal bg-white">
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/gorizia-logo", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo.svg") %>
        Gorizia
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.gorizia}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/pordenone-logo.svg", size: "42x42", class: "img-fluid mb-2", alt: "pordenone-logo.svg") %>
        Pordenone
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.pordenone}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/trieste-logo.svg", size: "42x42", class: "img-fluid mb-2", alt: "trieste-logo.svg") %>
        Trieste
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.trieste}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/udine-logo.svg", size: "42x42", class: "img-fluid mb-2", alt: "udine-logo.svg") %>
        Udine
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.udine}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
    </ul>
  </div>
  <div class="col-6">
    <p class="text-primary text-center mb-2 fs-4 fw-bold">
      Anno:&emsp;
      <%= "#{Date.today.year}".html_safe %>
    </p>
    <ul class="list-group list-group-horizontal bg-white">
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/gorizia-logo.svg", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo.svg") %>
        Gorizia
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.gorizia}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_territory("january", :gorizia) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/pordenone-logo.svg", size: "42x42", class: "img-fluid mb-2", alt: "pordenone-logo.svg") %>
        Pordenone
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.pordenone}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_territory("january", :pordenone) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/trieste-logo.svg", size: "42x42", class: "img-fluid mb-2", alt: "trieste-logo.svg") %>
        Trieste
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.trieste}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_territory("january", :trieste) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/udine-logo.svg", size: "42x42", class: "img-fluid mb-2", alt: "udine-logo.svg") %>
        Udine
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.udine}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_territory("january", :udine) %>
      </li>
    </ul>
  </div>
</div>
<div class="row mt-3">
  <div class="col-6">
    <div class="divTable shadow pt-2">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            FILCAMS
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.filcams}".html_safe %>
            </span>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FILCTEM
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.filctem}".html_safe %>
            </span>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FILLEA
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.fillea}".html_safe %>
            </span>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            FILT
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.filt}".html_safe %>
            </span>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FIOM
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.fiom}".html_safe %>
            </span>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FISAC
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.fisac}".html_safe %>
            </span>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            FLAI
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.flai}".html_safe %>
            </span>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FLC
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.flc}".html_safe %>
            </span>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FP
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.fp}".html_safe %>
            </span>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            NIDIL
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.nidil}".html_safe %>
            </span>
          </div>
          <div class="divTableCell text-primary fw-bold">
            SLC
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.slc}".html_safe %>
            </span>
          </div>
          <div class="divTableCell text-primary fw-bold">
            SPI
            &nbsp;
            <span class="text-info">
              <%= "#{@from_previous_year_january&.spi}".html_safe %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="divTable shadow pt-2">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            FILCAMS
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.filcams}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :filcams) %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FILCTEM
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.filctem}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :filctem) %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FILLEA
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.fillea}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :fillea) %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            FILT
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.filt}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :filt) %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FIOM
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.fiom}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :fiom) %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FISAC
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.fisac}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :fisac) %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            FLAI
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.flai}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :flai) %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FLC
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.flc}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :flc) %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            FP
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.fp}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :fp) %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            NIDIL
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.nidil}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :nidil) %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            SLC
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.slc}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :slc) %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            SPI
            &nbsp;
            <span class="text-info">
              <%= "#{@from_current_year_january&.spi}".html_safe %>
            </span>
            &nbsp;
            <%= growth_degrowth_category("january", :spi) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="text-primary mt-4"/>
<div class="row mt-2">
  <div class="col-12">
    <span class="text-primary fs-4 fw-bolder">
      &emsp;
      <i class="fa-solid fa-venus"></i>
      Donne
      &nbsp;
      <span class="text-info">
        <%= "#{@from_current_year_january&.women}".html_safe %>
        &nbsp;
        <%= age_percentual("january", :women) %>
      </span>
    </span>
    &emsp;
    <span class="text-primary fs-4 fw-bolder">
      &emsp;
      <i class="fa-solid fa-mars"></i>
      Uomini
      &nbsp;
      <span class="text-info">
        <%= "#{@from_current_year_january&.men}".html_safe %>
        &nbsp;
        <%= age_percentual("january", :men) %>
      </span>
    </span>
    <span class="float-end text-info">
      <i class="fa-solid fa-calendar-days"></i>
      <%= "#{Date.today.year}".html_safe %>
      &nbsp;
    </span>
    <br/>
    &nbsp;
    <div class="divTable shadow pt-2">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            Giovani
          </div>
          <div class="divTableCell text-primary fw-bold">
            Trentenni
          </div>
          <div class="divTableCell text-primary fw-bold">
            Quarantenni
          </div>
          <div class="divTableCell text-primary fw-bold">
            Cinquantenni
          </div>
          <div class="divTableCell text-primary fw-bold">
            Sessantenni
          </div>
          <div class="divTableCell text-primary fw-bold">
            Settantenni
          </div>
          <div class="divTableCell text-primary fw-bold">
            Ottantenni
          </div>
          <div class="divTableCell text-primary fw-bold">
            Highlanders
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-info fw-bold">
            <%= "#{@from_current_year_january&.young}".html_safe %>
            &nbsp;|&nbsp;
            <%= age_percentual("january", :young) %>
          </div>
          <div class="divTableCell text-info fw-bold">
            <%= "#{@from_current_year_january&.thirty}".html_safe %>
            &nbsp;|&nbsp;
            <%= age_percentual("january", :thirty) %>
          </div>
          <div class="divTableCell text-info fw-bold">
            <%= "#{@from_current_year_january&.forty}".html_safe %>
            &nbsp;|&nbsp;
            <%= age_percentual("january", :forty) %>
          </div>
          <div class="divTableCell text-info fw-bold">
            <%= "#{@from_current_year_january&.fifty}".html_safe %>
            &nbsp;|&nbsp;
            <%= age_percentual("january", :fifty) %>
          </div>
          <div class="divTableCell text-info fw-bold">
            <%= "#{@from_current_year_january&.sixty}".html_safe %>
            &nbsp;|&nbsp;
            <%= age_percentual("january", :sixty) %>
          </div>
          <div class="divTableCell text-info fw-bold">
            <%= "#{@from_current_year_january&.seventy}".html_safe %>
            &nbsp;|&nbsp;
            <%= age_percentual("january", :seventy) %>
          </div>
          <div class="divTableCell text-info fw-bold">
            <%= "#{@from_current_year_january&.eighty}".html_safe %>
            &nbsp;|&nbsp;
            <%= age_percentual("january", :eighty) %>
          </div>
          <div class="divTableCell text-info fw-bold">
            <%= "#{@from_current_year_january&.highlander}".html_safe %>
            &nbsp;|&nbsp;
            <%= age_percentual("january", :highlander) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-1">
  <div class="col-12">
    <%= column_chart [["Giovani", chart_kick_age_percentual("january", :young)], 
                      ["Trentenni", chart_kick_age_percentual("january", :thirty)],
                      ["Quarantenni", chart_kick_age_percentual("january", :forty)],
                      ["Cinquantenni", chart_kick_age_percentual("january", :fifty)],
                      ["Sessantenni", chart_kick_age_percentual("january", :sixty)],
                      ["Settantenni", chart_kick_age_percentual("january", :seventy)],
                      ["Ottantenni", chart_kick_age_percentual("january", :eighty)],
                      ["Highlanders", chart_kick_age_percentual("january", :highlander)]
    ], colors: ["#287bb5", "#287bb5" ] %>
  </div>
</div>
<hr class="text-primary mt-3"/>
<div class="row mt-2">
  <div class="col-6">
    <p class="text-center text-primary fs-5 fw-bolder">
      Anno:&emsp;
      <%= "#{Date.today.year - 1}".html_safe %>
      <br/>
      <span class="text-info">
        Deleghe:
        &nbsp;
        <%= "#{@from_previous_year_january&.delega}".html_safe %>
        &emsp;
        <span class="text-warning">
          BreviManu(dirette):
          <%= "#{@from_previous_year_january&.brevimanu}".html_safe %>
        </span>
      </span>
    </p>
    <div class="row">
      <div class="col-4 offset-4">
        <%= pie_chart [["Deleghe", chart_kick_subscription_type_percentual("previous", "january", :delega)],
      ["Brevimanu", chart_kick_subscription_type_percentual("previous", "january", :brevimanu)]
      ], colors: ["#287bb5", "#f8765f" ], width: "200px", height: "200px" %>
      </div>
    </div>
  </div>
  <div class="col-6">
    <p class="text-center text-primary fs-5 fw-bolder">
      Anno:&emsp;
      <%= "#{Date.today.year}".html_safe %>
      <br/>
      <span class="text-info">
        Deleghe:
        &nbsp;
        <%= "#{@from_current_year_january&.delega}".html_safe %>
        &emsp;
        <span class="text-warning">
          BreviManu(dirette):
          <%= "#{@from_current_year_january&.brevimanu}".html_safe %>
        </span>
      </span>
    </p>
    <div class="row">
      <div class="col-4 offset-4">
        <%= pie_chart [["Deleghe", chart_kick_subscription_type_percentual("current", "january", :delega)],
      ["Brevimanu", chart_kick_subscription_type_percentual("current", "january", :brevimanu)]
      ], colors: ["#287bb5", "#f8765f" ], width: "200px", height: "200px" %>
      </div>
    </div>
  </div>
</div>
<hr class="text-primary mt-3"/>
<div class="row mt-2 mb-5">
  <div class="col-6">
    <p class="text-center text-primary fs-5 fw-bolder">
      Anno:&emsp;
      <%= "#{Date.today.year - 1}".html_safe %>
    </p>
    <div class="divTable shadow pt-1">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            Ordinaria
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_previous_year_january&.ordinaria}".html_safe %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            Ordinaria Cassa Edile
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_previous_year_january&.ordinariace}".html_safe %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            NASPI
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_previous_year_january&.naspi}".html_safe %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            DS Agricola
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_previous_year_january&.dsagricola}".html_safe %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            Delega Tesoro
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_previous_year_january&.delegatesoro}".html_safe %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            Concomitante
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_previous_year_january&.concomitante}".html_safe %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            Concomitante SPI Anno
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_previous_year_january&.concomitantespianno}".html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <p class="text-center text-primary fs-5 fw-bolder">
      Anno:&emsp;
      <%= "#{Date.today.year}".html_safe %>
    </p>
    <div class="divTable shadow pt-1">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            Ordinaria
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_current_year_january&.ordinaria}".html_safe %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= growth_degrowth_subscription_type("january", :ordinaria) %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            Ordinaria Cassa Edile
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_current_year_january&.ordinariace}".html_safe %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= growth_degrowth_subscription_type("january", :ordinariace) %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            NASPI
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_current_year_january&.naspi}".html_safe %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= growth_degrowth_subscription_type("january", :naspi) %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            DS Agricola
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_current_year_january&.dsagricola}".html_safe %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= growth_degrowth_subscription_type("january", :dsagricola) %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            Delega Tesoro
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_current_year_january&.delegatesoro}".html_safe %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= growth_degrowth_subscription_type("january", :delegatesoro) %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            Concomitante
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_current_year_january&.concomitante}".html_safe %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= growth_degrowth_subscription_type("january", :concomitante) %>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell text-primary fw-bold">
            Concomitante SPI Anno
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= "#{@from_current_year_january&.concomitantespianno}".html_safe %>
          </div>
          <div class="divTableCell text-primary fw-bold">
            <%= growth_degrowth_subscription_type("january", :concomitantespianno) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
