<div class="row mt-3">
  <div class="col">
    <span class="text-primary fw-bolder fs-4">
      <%= image_tag("icon/jan-icon.svg", class: "img-fluid", alt: "jan-icon.svg") %>
      &emsp; Gennaio
      &emsp;
      <%= image_tag("main/fvg-logo", class: "img-fluid", alt: "jan-icon.svg") %>
      &nbsp;
      Friuli Venezia Giulia
    </span>
    <span class="float-end">
      <span class="text-primary">
        Totale Iscritti Regionale:
        &emsp;&emsp;
        <i class="fa-solid fa-calendar-days"></i>
        <%= "#{Date.today.year - 1}".html_safe %>
        &nbsp;
        <i class="fa-solid fa-users"></i>
      </span>
      <span class="text-info fs-4 fw-bolder">
        <%= "#{@from_previous_year_january&.regional}".html_safe %>
      </span>
      &emsp;
      <i class="fa-solid fa-arrows-left-right text-primary"></i>
      &emsp;
      <span class="text-primary">
        <i class="fa-solid fa-calendar-days"></i>
        <%= "#{Date.today.year}".html_safe %>
        &nbsp;
        <i class="fa-solid fa-users"></i>
      </span>
      <span class="text-info fs-4 fw-bolder">
        <%= "#{@from_current_year_january&.regional}".html_safe %>
      </span>
      &nbsp;
      <%= growth_degrowth("january") %>
    </span>
    <hr class="text-primary"/>
  </div>
</div>
<div class="row mt-2">
  <div class="col-6">
    <p class="text-primary text-center mb-2 fs-4 fw-bold">
      Anno:&emsp;
      <%= "#{Date.today.year - 1}".html_safe %>
    </p>
    <ul class="list-group list-group-horizontal bg-white">
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/gorizia-logo", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        Gorizia
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.gorizia}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/pordenone-logo", size: "42x42", class: "img-fluid mb-2", alt: "pordenone-logo") %>
        Pordenone
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.pordenone}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/trieste-logo", size: "42x42", class: "img-fluid mb-2", alt: "trieste-logo") %>
        Trieste
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.trieste}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/udine-logo", size: "42x42", class: "img-fluid mb-2", alt: "udine-logo") %>
        Udine
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.udine}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
    </ul>
  </div>
  <div class="col-6">
    <p class="text-primary text-center mb-2 fs-4 fw-bold">
      Anno:&emsp;
      <%= "#{Date.today.year}".html_safe %>
    </p>
    <ul class="list-group list-group-horizontal bg-white">
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/gorizia-logo", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        Gorizia
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.gorizia}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_territory("january", :gorizia) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/pordenone-logo", size: "42x42", class: "img-fluid mb-2", alt: "pordenone-logo") %>
        Pordenone
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.pordenone}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_territory("january", :pordenone) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/trieste-logo", size: "42x42", class: "img-fluid mb-2", alt: "trieste-logo") %>
        Trieste
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.trieste}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_territory("january", :trieste) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/udine-logo", size: "42x42", class: "img-fluid mb-2", alt: "udine-logo") %>
        Udine
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.udine}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_territory("january", :udine) %>
      </li>
    </ul>
  </div>
</div>
<div class="row mt-4">
  <div class="col-6">
    <ul class="list-group list-group-horizontal bg-white">
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/filcams", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FILCAMS
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.filcams}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/filctem", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FILCTEM
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.filctem}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/fillea", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FILLEA
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.fillea}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/filt", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FILT
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.filt}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
    </ul>
  </div>
  <div class="col-6">
    <ul class="list-group list-group-horizontal bg-white">
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/filcams", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FILCAMS
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.filcams}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :filcams) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/filctem", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FILCTEM
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.filctem}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :filctem) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/fillea", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FILLEA
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.fillea}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :fillea) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/filt", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FILT
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.filt}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :filt) %>
      </li>
    </ul>
  </div>
</div>
<div class="row mt-1">
  <div class="col-6">
    <ul class="list-group list-group-horizontal bg-white">
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/fiom", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FIOM
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.fiom}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/fisac", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FISAC
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.fisac}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/flai", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FLAI
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.flai}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/flc", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FLC
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.flc}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
    </ul>
  </div>
  <div class="col-6">
    <ul class="list-group list-group-horizontal bg-white">
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/fiom", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FIOM
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.fiom}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :fiom) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/fisac", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FISAC
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.fisac}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :fisac) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/flai", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FLAI
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.flai}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :flai) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/flc", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FLC
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.flc}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :flc) %>
      </li>
    </ul>
  </div>
</div>
<div class="row mt-1">
  <div class="col-6">
    <ul class="list-group list-group-horizontal bg-white">
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/fp", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FP
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.fp}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/nidil", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        NIDIL
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.nidil}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/slc", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        SLC
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.slc}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/spi", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        SPI
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_previous_year_january&.spi}".html_safe %>
        </span>
        <br/>
        &emsp;
      </li>
    </ul>
  </div>
  <div class="col-6">
    <ul class="list-group list-group-horizontal bg-white">
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/fp", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        FP
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.fp}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :fp) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/nidil", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        NIDIL
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.nidil}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :nidil) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/slc", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        SLC
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.slc}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :slc) %>
      </li>
      <li class="list-group-item border-white text-center">
        <%= image_tag("main/spi", size: "42x42", class: "img-fluid mb-2", alt: "gorizia-logo") %>
        SPI
        <br/>
        <span class="text-primary fs-6">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text-info fs-4 fw-bolder">
          <%= "#{@from_current_year_january&.spi}".html_safe %>
        </span>
        <br/>
        <%= growth_degrowth_category("january", :spi) %>
      </li>
    </ul>
  </div>
</div>