<div id="<%= dom_id import %>">
  <p>
    <strong>Year:</strong>
    <%= import.year %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= import.month %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= import.categoria %>
  </p>

  <p>
    <strong>Cognome:</strong>
    <%= import.cognome %>
  </p>

  <p>
    <strong>Cognome acquisito:</strong>
    <%= import.cognome_acquisito %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= import.nome %>
  </p>

  <p>
    <strong>Consenso1:</strong>
    <%= import.consenso1 %>
  </p>

  <p>
    <strong>Consenso2:</strong>
    <%= import.consenso2 %>
  </p>

  <p>
    <strong>Consenso3:</strong>
    <%= import.consenso3 %>
  </p>

  <p>
    <strong>Consenso4:</strong>
    <%= import.consenso4 %>
  </p>

  <p>
    <strong>Documento privacy:</strong>
    <%= import.documento_privacy %>
  </p>

  <p>
    <strong>Codice fiscale:</strong>
    <%= import.codice_fiscale %>
  </p>

  <p>
    <strong>Sesso:</strong>
    <%= import.sesso %>
  </p>

  <p>
    <strong>Altro sesso:</strong>
    <%= import.altro_sesso %>
  </p>

  <p>
    <strong>Stato civile:</strong>
    <%= import.stato_civile %>
  </p>

  <p>
    <strong>Data nascita:</strong>
    <%= import.data_nascita %>
  </p>

  <p>
    <strong>Data decesso:</strong>
    <%= import.data_decesso %>
  </p>

  <p>
    <strong>Luogo nascita:</strong>
    <%= import.luogo_nascita %>
  </p>

  <p>
    <strong>Titolo studio:</strong>
    <%= import.titolo_studio %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= import.telefono %>
  </p>

  <p>
    <strong>Cellulare:</strong>
    <%= import.cellulare %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= import.email %>
  </p>

  <p>
    <strong>Indirizzo:</strong>
    <%= import.indirizzo %>
  </p>

  <p>
    <strong>Frazione:</strong>
    <%= import.frazione %>
  </p>

  <p>
    <strong>Localita postale:</strong>
    <%= import.localita_postale %>
  </p>

  <p>
    <strong>Cap:</strong>
    <%= import.cap %>
  </p>

  <p>
    <strong>Comune:</strong>
    <%= import.comune %>
  </p>

  <p>
    <strong>Provincia:</strong>
    <%= import.provincia %>
  </p>

  <p>
    <strong>Nazionalita:</strong>
    <%= import.nazionalita %>
  </p>

  <p>
    <strong>Tipologia status:</strong>
    <%= import.tipologia_status %>
  </p>

  <p>
    <strong>Tipologia rapporto lavoro:</strong>
    <%= import.tipologia_rapporto_lavoro %>
  </p>

  <p>
    <strong>Data inizio lavoro:</strong>
    <%= import.data_inizio_lavoro %>
  </p>

  <p>
    <strong>Data fine lavoro:</strong>
    <%= import.data_fine_lavoro %>
  </p>

  <p>
    <strong>Motivo cessazione lavoro:</strong>
    <%= import.motivo_cessazione_lavoro %>
  </p>

  <p>
    <strong>Tipologia iscrizione:</strong>
    <%= import.tipologia_iscrizione %>
  </p>

  <p>
    <strong>Tipologia delega:</strong>
    <%= import.tipologia_delega %>
  </p>

  <p>
    <strong>Data inizio iscrizione:</strong>
    <%= import.data_inizio_iscrizione %>
  </p>

  <p>
    <strong>Data fine iscrizione:</strong>
    <%= import.data_fine_iscrizione %>
  </p>

  <p>
    <strong>Data inizio trattenuta:</strong>
    <%= import.data_inizio_trattenuta %>
  </p>

  <p>
    <strong>Data fine trattenuta:</strong>
    <%= import.data_fine_trattenuta %>
  </p>

  <p>
    <strong>Utente modifica:</strong>
    <%= import.utente_modifica %>
  </p>

  <p>
    <strong>Data modifica:</strong>
    <%= import.data_modifica %>
  </p>

  <p>
    <strong>Tipologia versamento:</strong>
    <%= import.tipologia_versamento %>
  </p>

  <p>
    <strong>Motivo cessazione iscrizione:</strong>
    <%= import.motivo_cessazione_iscrizione %>
  </p>

  <p>
    <strong>Provvisoria:</strong>
    <%= import.provvisoria %>
  </p>

  <p>
    <strong>Status confermato da nastro:</strong>
    <%= import.status_confermato_da_nastro %>
  </p>

  <p>
    <strong>Concomitante spi anno:</strong>
    <%= import.concomitante_spi_anno %>
  </p>

  <p>
    <strong>Tipologia azienda:</strong>
    <%= import.tipologia_azienda %>
  </p>

  <p>
    <strong>Ragione sociale azienda:</strong>
    <%= import.ragione_sociale_azienda %>
  </p>

  <p>
    <strong>Codice fiscale azienda:</strong>
    <%= import.codice_fiscale_azienda %>
  </p>

  <p>
    <strong>Partita iva azienda:</strong>
    <%= import.partita_iva_azienda %>
  </p>

  <p>
    <strong>Nome unita locale:</strong>
    <%= import.nome_unita_locale %>
  </p>

  <p>
    <strong>Condizione unita locale:</strong>
    <%= import.condizione_unita_locale %>
  </p>

  <p>
    <strong>Indirizzo unita locale:</strong>
    <%= import.indirizzo_unita_locale %>
  </p>

  <p>
    <strong>Cap unita locale:</strong>
    <%= import.cap_unita_locale %>
  </p>

  <p>
    <strong>Comune unita locale:</strong>
    <%= import.comune_unita_locale %>
  </p>

  <p>
    <strong>Provincia unita locale:</strong>
    <%= import.provincia_unita_locale %>
  </p>

  <p>
    <strong>Telefono azienda:</strong>
    <%= import.telefono_azienda %>
  </p>

  <p>
    <strong>Email azienda:</strong>
    <%= import.email_azienda %>
  </p>

  <p>
    <strong>Ragione sociale azienda fruitrice:</strong>
    <%= import.ragione_sociale_azienda_fruitrice %>
  </p>

  <p>
    <strong>Nome unita locale fruitrice:</strong>
    <%= import.nome_unita_locale_fruitrice %>
  </p>

  <p>
    <strong>Funzionario:</strong>
    <%= import.funzionario %>
  </p>

  <p>
    <strong>Condizione status:</strong>
    <%= import.condizione_status %>
  </p>

  <p>
    <strong>Contratto nazionale:</strong>
    <%= import.contratto_nazionale %>
  </p>

  <p>
    <strong>Settore lavorativo:</strong>
    <%= import.settore_lavorativo %>
  </p>

  <p>
    <strong>Codice azzonamento completo:</strong>
    <%= import.codice_azzonamento_completo %>
  </p>

  <p>
    <strong>Descrizione azzonamento completo:</strong>
    <%= import.descrizione_azzonamento_completo %>
  </p>

  <p>
    <strong>Codice azzonamento regionale:</strong>
    <%= import.codice_azzonamento_regionale %>
  </p>

  <p>
    <strong>Descrizione azzonamento regionale:</strong>
    <%= import.descrizione_azzonamento_regionale %>
  </p>

  <p>
    <strong>Codice azzonamento comprensoriale:</strong>
    <%= import.codice_azzonamento_comprensoriale %>
  </p>

  <p>
    <strong>Descrizione azzonamento comprensoriale:</strong>
    <%= import.descrizione_azzonamento_comprensoriale %>
  </p>

  <p>
    <strong>Struttura attivazione iscrizione:</strong>
    <%= import.struttura_attivazione_iscrizione %>
  </p>

  <p>
    <strong>Evento attivazione iscrizione:</strong>
    <%= import.evento_attivazione_iscrizione %>
  </p>

  <p>
    <strong>Stampa tessera:</strong>
    <%= import.stampa_tessera %>
  </p>

  <p>
    <strong>Anno stampa:</strong>
    <%= import.anno_stampa %>
  </p>

  <p>
    <strong>Data contabilizzazione tessera:</strong>
    <%= import.data_contabilizzazione_tessera %>
  </p>

  <p>
    <strong>Descrizione reparto:</strong>
    <%= import.descrizione_reparto %>
  </p>

  <p>
    <strong>Qualifica:</strong>
    <%= import.qualifica %>
  </p>

  <p>
    <strong>Livello:</strong>
    <%= import.livello %>
  </p>

  <p>
    <strong>Part time:</strong>
    <%= import.part_time %>
  </p>

</div>
